<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/new">
      <label for="user">Enter User Name:</label>
      <input type="text" placeholder="user" name="user" />
      <label for="message">Enter Message:</label>
      <input type="text" placeholder="message text" name="message" />
      <button type="submit">Submit Message</button>
    </form>
  </body>
</html>
