<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>King</h1>
    <p>Welcome to the new age</p>
  </body>
</html>
